[submodule "VisualStatistics/libcsv"]
	path = VisualStatistics/libcsv
	url = https://github.com/rgamble/libcsv.git
[submodule "VisualStatistics/lua"]
	path = VisualStatistics/lua
	url = https://github.com/lua/lua.git
[submodule "VisualStatistics/libexpat"]
	path = VisualStatistics/libexpat
	url = https://github.com/libexpat/libexpat.git
[submodule "VisualStatistics/pcre2"]
	path = VisualStatistics/pcre2
	url = https://github.com/PhilipHazel/pcre2.git
[submodule "VisualStatistics/breakpad"]
	path = VisualStatistics/breakpad
	url = https://chromium.googlesource.com/breakpad/breakpad
[submodule "VisualStatistics/QCustomPlot"]
	path = VisualStatistics/QCustomPlot
	url = https://gitlab.com/DerManu/QCustomPlot.git
